extends layout

block content
  h1= title
  ul
    if(fiber_list.length === 0)
      li There are no fibers.
    else
      each [key, value] of fiber_list
        li
          a(href=value.url) #{value.fibername}
          |
          |(#{value.counter})

  p
   a(href="fiber/create") Add Fiber
