extends layout

block content
  h1= title

  if(errorspresent)
    p #{errorspresent.msg}
  form(method="POST" action="")
    div.inputdiv
      label(for="createfiber") Fiber type:
      select#createfiber(required="true" name="createfiber")
         each fiber in fiberstocreate
            option(value=fiber) #{fiber}
    button(type="submit") Save

  p If you don't see a fiber on the drop down menu, it's because the fiber has already been created. Check the existing fibers at
     |
     |
     a(href='/inventory/fiber') Yarn By Fiber
     |.
