doctype html
html.min-h-screen
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/line-awesome/css/line-awesome.min.css")
  body.bg-orange-50.font-mono.text-neutral-700.flex.flex-col.min-h-screen
    header.ml-16.mt-16.mb-10
      h1
        i.las.la-volleyball-ball.text-orange-400
        |
        |
        a.font-mono.text-neutral-700(href="/inventory" class="hover:text-orange-500") Yarn Inventory
    div.bodycontent.ml-16.grow
      div.w-max.space-y-3
        h2 Categories
        ul.space-y-3 
          li
            i.las.la-caret-right
            a(href='/inventory') Yarn Inventory
          li
            i.las.la-caret-right
            a(href='/inventory/fiber') Yarn by Fiber
          li
            i.las.la-caret-right
            a(href='/inventory/weight') Yarn by Weight
          li
            i.las.la-caret-right
            a(href='/inventory/producers') Yarn Producers
        h2.pt-2 Add to inventory
        ul.space-y-3
          li
            i.las.la-caret-right
            a(href='/inventory/yarn/selectfibers') Add yarn
          li
            i.las.la-caret-right
            a(href='/inventory/yarncolorway/create') Add colorway/dyelot
          li
            i.las.la-caret-right
            a(href='/inventory/producers/create') Add producer
          li
            i.las.la-caret-right
            a(href='/inventory/fiber/create') Add fiber type
          li
            i.las.la-caret-right
            a(href='/inventory/weight/create') Add yarn weight

      div
        block content

      div

    footer.mb-8.mt-4.text-center
      a.text-orange-500(href="https://github.com/paposeco/" alt="github")
        i.lab.la-github
        | Fabi
