doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.bodymargins
    div
      nav
        ul
          li
            a(href='/inventory/fiber') Yarn by Fiber
          li
            a(href='/inventory/weight') Yarn by Weight
          li
            a(href='/inventory/producers') Producers
          li
            a(href='/inventory/yarn') Yarn
          li
            a(href='/inventory/yarncolorways') Yarn by Colorway

      block content
    div.bodymargins
