extends layout

block content
  h1= title
  ul
    if(weight_list.length === 0)
      li There are no yarn weights.
    else
      each [key, value] of weight_list
        li
          a(href=value.url) #{value.name}
          |
          |(#{value.counter})

  p
    a(href="weight/create") Add Yarn Weight
